<%= turbo_stream.append "tags" do %>
  <li class="animate-fade-in"
    data-controller="remove"
    data-remove-target="element"
    data-remove-animate-value="true">

    <%= text_field_tag "posts[tags][]", "", id: "",
          data: {controller: "focus", focus_focus_value: "now"} %>

    <button data-action="remove#remove">Remove</button>
  </li>
<% end %>
