<%= turbo_frame_tag "slide-over" do %>
  <div aria-labelledby="slide-over-title" role="dialog" aria-modal="true"
    data-controller="slide-over remove"
    data-remove-target="element">

    <div class="backdrop animate-fade-in"></div>

    <section>
      <div class="absolute inset-0 overflow-hidden">
        <div class="fixed inset-y-0 right-0 flex max-w-full pl-10 pointer-events-none">
          <div class="w-screen max-w-md pointer-events-auto" data-slide-over-target="slideOver" data-remove-target="element">
            <div class="flex flex-col h-full py-6 overflow-y-scroll bg-white shadow-xl">
              <div class="px-4 sm:px-6">
                <div class="flex items-start justify-between">
                  <h2 class="text-base font-semibold leading-6 text-gray-900" id="slide-over-title">New Post</h2>
                  <div class="flex items-center ml-3 h-7">
                    <button type="button" data-action="remove#remove slide-over#slideOut" class="relative text-gray-400 bg-white rounded-md hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                      <span class="absolute -inset-2.5"></span>
                      <span class="sr-only">Close panel</span>
                      <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>

              <section>
                <%= render "form", post: @post %>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
